* {
   box-sizing: border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
html, body {
    margin: 0;
    height: 100%;
    background: rgb(204, 203, 203);
}
body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
.aparte {
    width: 20%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.foto-cv {
    align-self: flex-start;
    order: 1;
    border-radius: 200px;
}
.navegacion {
    align-self: baseline;
    order: 2;
    margin-left: 10%;
    padding: 2%; 
    display: flex;
    flex-direction: column;
}
.link {
    background-color: rgb(151, 136, 136);
    padding: 5% 85% 5% 5%;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold; 
}
.contenido {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2% 5% 2% 2%;
    overflow: scroll;
}
.secciones {
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 2%; 
}
.parrafos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}
.datos-personales {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.encabezado {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: grey;
    border-bottom: 2px solid grey;  
}
.sub-encabezado {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: grey;
    background: white;   
}
.descripcion-programador {
    color:grey;
}
.proyecto {
    width: 150px;
    height: 150px;
}
.titulo-cv {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
    background: white;
}
.lista-proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;    
}
